@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif
}

header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

nav{
    width: 80%;
    margin: auto;
    padding-top: 15px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.main-box ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.main-box ul li{
    justify-content: center;
}

.small-box{
    flex-basis: 20%;
    text-align: center;
}

button{
    padding:1.5%;
    border: none;
    border-radius: 40px;
    vertical-align: bottom;
}

#black-button{
    background-color: #23272A;
    color: white;
}

.download::before{
    content: "\2193";
    vertical-align: top;
    padding-right: 6px;
}

.main-box{
    flex-basis: 60%;
}

.heading-text{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    height: 400px;
}

.container{
    width: 80%;
    margin: auto;
    padding: 30px;
}

.section-middle, .heading-text, .txt{
    font-size: 1.2rem;
}

.img-txt{
    justify-content: space-between;
}

.img-box{
    flex-basis: 60%;
}


.text-box{
    flex-basis: 40%;
    padding: 60px 150px 0 0 ;
}

.reverse{
    order: 1
}

.bg-grey{
    background-color: lightgray;
}

.padding{
    padding: 30px;
}

.img, .txt{
    text-align: center;
}

.txt img{
    background-size: contain;
}

.txt button, .end button{
    background-color: #91A1E2;
}

footer{
    background-color: #23272A;
    color: white;
}

.footer{
    justify-content: space-between
}

.social{
    flex-basis: 30%;
    height: 300px;
    line-height: 20px;
}

span img{
    width: 20px;
    height: 10px;
}

span::after{
    content: "\25bc";
    font-size: 10px;
}

footer ul {
    flex-basis: 10%;
    list-style:  none inside;
    text-align: center;
    line-height: 30px;
}

h6{
    color: #91A1E2;
    font-size: 1.1rem;
}

h3{
    font-size: 1.5rem;
    color: #91A1E2;
}

li{
    font-size: 0.8rem;
}

div.footer {
    border-bottom: 1px solid #7289DA;
}

div.end{
    justify-content: space-between;
}
